@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?ae19fi') format('truetype'),
    url('fonts/icons.woff?ae19fi') format('woff'),
    url('fonts/icons.svg?ae19fi#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hash:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-blog:before {
  content: "\e905";
}
.icon-earth:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-book:before {
  content: "\f007";
}
.icon-calendar:before {
  content: "\f068";
}
.icon-chevron-down:before {
  content: "\f0a3";
}
.icon-chevron-up:before {
  content: "\f0a2";
}
.icon-law:before {
  content: "\f0d8";
}
.icon-search:before {
  content: "\f02e";
}
.icon-x:before {
  content: "\f081";
}
.icon-feed:before {
  content: "\ea9b";
}
