.alert {
    padding: 16px 16px 16px 24px;
    border-left: 4px solid var(--color-red);
    border-radius: 4px;
    background-color: var(--color-background-lighter);
    box-shadow: var(--box-shadow-lighter);
    position: relative;
    font-size: .9em;

    &:before {
        content: '!';
        position: absolute;
        top: 12px;
        left: -14px;
        display: block;
        width: 24px;
        height: 24px;
        background: var(--color-red);
        font-size: 12px;
        padding: 0 4px;
        box-sizing: border-box;
        text-align: center;
        font-weight: bold;
        color: #fff;
        line-height: 22px;
        border-radius: 50%;
    }

    & a {
        color: var(--color-red);
    }

    & :last-child {
        margin-bottom: 0;
    }
}
