tt, code, pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code, tt {
    font-size: .75rem;
    padding: .3rem .45rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

code br, tt br {
    display: none
}

del code {
    text-decoration: inherit
}

pre {
    word-wrap: normal;
    text-align: left;
    font-size: .875rem;
    line-height: 1.45;

    @media (max-width: 768px) {
        font-size: .75rem;
    }
}

pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.highlight {
    margin-bottom: 16px;
}

.highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.highlight pre, pre {
    padding: 16px 16px 14px 16px;
    overflow: auto;
    background-color: var(--color-background-lightest);
    box-shadow: var(--box-shadow-lightest);
    color: var(--color-base);
    text-shadow: none !important;
    border-radius: 4px;
}

pre code, pre tt {
    display: inline;
    max-width: none;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

pre code::before, pre code::after, pre tt::before, pre tt::after {
    content: normal
}
