.hamburger {
    padding: 14px 12px;
    display: inline-block;
    height: 48px;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;
}

.hamburger__box {
    width: 24px;
    height: 16px;
    display: inline-block;
    position: relative;
}

.hamburger__inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger__inner, .hamburger__inner::before, .hamburger__inner::after {
    width: 24px;
    height: 3px;
    background-color: var(--color-base);
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger__inner::before, .hamburger__inner::after {
    content: "";
    display: block;
}

.hamburger__inner::before {
    top: -6px;
}

.hamburger__inner::after {
    bottom: -6px;
}
