.links {
    margin: 0;
    padding: 0;
}

.links li {
    display: inline-block;
    margin: 0 8px;
    text-decoration: none;
}

.links li:first-child {
    margin-left: 0;
}

.links li:last-child {
    margin-right: 0;
}

.links a {
    display: block;
    text-decoration: none;
}

.links a:hover {
    text-decoration: none;
}
