.searchbox {
    width: 100%;

    &,
    &:focus {
        appearance: none;
        padding: 6px 8px 6px 32px;
        font-size: .875rem;
        line-height: 24px;
        color: var(--color-base);
        border: 0;
    }
}

.searchbox--collapsed {
    &:not(:focus) {
        background-color: transparent;
        border: 0;
        width: 32px !important;
        margin-right: -12px;
    }
}
