.searchbox {
    width: 100%;

    &,
    &:focus {
        appearance: none;
        padding: 6px 8px 6px 32px;
        font-size: .875rem;
        line-height: 24px;
        color: var(--color-base);
        border: 0;
        background: var(--color-background-light) url(../img/search.svg) no-repeat 10px center;
        background-size: 16px 16px;
        box-shadow: var(--box-shadow-light);
        border-radius: 4px;
        outline: none;
        transition: width .35s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::-webkit-input-placeholder {
        color: var(--color-base-light);
    }
    &:-moz-placeholder {
        color: var(--color-base-light);
    }
    &::-moz-placeholder {
        color: var(--color-base-light);
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: var(--color-base-light);
    }

    &:focus {
        background-color: var(--color-background-lighter) !important;
        box-shadow: var(--box-shadow-lighter);
    }
}

.searchbox--collapsed {
    &:not(:focus) {
        background-color: transparent;
        border: 0;
        width: 32px !important;
        margin-right: -12px;
        cursor: pointer;
        box-shadow: none;

        &::-webkit-search-decoration {
            display: none;
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
        &::-webkit-search-results-button {
            display: none;
        }
        &::-webkit-search-results-decoration {
            display: none;
        }
        &::-ms-clear {
            display: none;
        }
    }
}

.searchbox--large {
    &,
    &:focus {
        padding: 8px 12px 8px 40px;
    }
}
