@import "../../styles/variables.css";

.component-info__title {
    display: flex;
}

.component-info__contributors {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    & img {
      display: block;
      width: 40px;
      height: auto;
  }
}
