tt, code, pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

tt, code {
    font-size: .75rem;
}

pre {
    font-size: .875rem;
    line-height: 1.45;

    @media (max-width: 768px) {
        font-size: .75rem;
    }
}
