.header {
    width: 100%;
    border-bottom: 1px dashed var(--color-background-light);
    padding: 16px 32px;

    @media (max-width: 768px) {
        padding: 16px;
        margin-bottom: 16px;
    }

    & .wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__logo {
    display: block;
    line-height: 1;
}

.header__logo svg {
    display: block;
    height: 16px;
    width: auto;
}

.header__search {
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 999;

    & input {
        width: 320px;

        @media (max-width: 768px) {
            width: calc(100vw - 32px);
        }
    }
}
