{% extends 'default.html.twig' %}

{% block content %}

    <div class="container">
        <div class="wrapper wrapper--small">
            {{ berti.content|raw }}

            {% include 'partials/changelog.html.twig' with {releases_by_year: releases_by_year, is_combined_changelog: true} %}
        </div>
    </div>

{% endblock %}
