{% extends 'component.html.twig' %}

{% block title %}{{ component.title ~ ': License' }}{% endblock %}
{% block component_content %}
    <h1>{{ component.title }} License</h1>

    {{ berti.content|strip_title|emoji|raw }}
{% endblock %}
