@import "../../styles/variables.css";

.off-canvas-menu {
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: none;
}

.off-canvas-menu__content {
    transform: translate3d(105%, 0, 0);
}
