{% include header.html %}

<div id="content" class="blog">
    <p><a href="/">&laquo; Home</a></p>

    <h1>Blog</h1>

    Actually, it's just release notes.

    <ul class="posts">
    {% for post in site.posts %}
        <li>
            <span class="span2 date" title="{{ post.date | date: '%B %e, %Y' }}">{{ post.date | date: '%b %e, %Y' }}</span>
            <span class="span10"><a href="{{ post.url }}">{{ post.title }}</a></span>
        </li>
    {% endfor %}
    </ul>
</div>

{% include footer.html %}
