@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Source Sans Pro Regular"), 
    local("SourceSansPro-Regular"), 
    url("sourcesanspro-regular.woff") format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Source Sans Pro Bold"), 
    local("SourceSansPro-Bold"), 
    url("sourcesanspro-bold.woff") format("woff");
}

